{% load static %}
<form method="post" class="border-x p-2 m-0" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex space-x-4">
        <div>
            <img class="rounded-lg w-12" src="{% static 'Default_pfp.png' %}">
        </div>
        <div class="grow">
            <input type="textarea" name="content"  placeholder="Quoi de neuf ?!" class="w-full p-2 text-gray-900 text-xl rounded-lg outline-none" required>
            <div class="flex justify-between border-t p-2">
                <label for="image" class="cursor-pointer">
                    <svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" class="fill-sky-500 r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-z80fyv r-19wmn03" ><g><path d="M3 5.5C3 4.119 4.119 3 5.5 3h13C19.881 3 21 4.119 21 5.5v13c0 1.381-1.119 2.5-2.5 2.5h-13C4.119 21 3 19.881 3 18.5v-13zM5.5 5c-.276 0-.5.224-.5.5v9.086l3-3 3 3 5-5 3 3V5.5c0-.276-.224-.5-.5-.5h-13zM19 15.414l-3-3-5 5-3-3-3 3V18.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-3.086zM9.75 7C8.784 7 8 7.784 8 8.75s.784 1.75 1.75 1.75 1.75-.784 1.75-1.75S10.716 7 9.75 7z"></path></g></svg>
                </label>
                <input  id="image" class="hidden" name="image" type="file">
                <button type="submit" class="text-white font-bold bg-sky-500 hover:bg-sky-600 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-sm px-5 py-2 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Poster</button>
            </div>
        </div>
    </div>       
</form>