{% load static %}
<form method="post" class="border-x p-2 m-0" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex items-start space-x-4">
        <div>
            <img class="rounded-lg w-12" src="{% static 'Default_pfp.png' %}">
        </div>
        <div class="grow">
            {% comment %} <textarea name="{{ form.content }}"  id="{{ form.content }} required"></textarea> {% endcomment %}
            <input type="textarea" name="content"  placeholder="Quoi de neuf ?!" class="w-full p-5 text-gray-900 text-sm rounded-lg  " required>


            <div>
                {{ form.image }}
            </div>
            <div>
                <button type="submit" class="text-white font-bold bg-blue-500 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-sm px-5 py-2 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Poster</button>
            </div>

        </div>
    </div>       
</form>