{% load static %}
{% load post_extras %}
<div class="post border-t p-4  hover:bg-gray-100 transition">
    <a href="{% url 'view_post' post.id %}">
        <div class="flex items-start space-x-4">
            <div>
                <img class="rounded-lg w-12" src="{% static 'Default_pfp.png' %}">
            </div>
            <div>
                <div class="flex items-center space-x-1">
                    <p class="font-bold text-sm">{{ post.uploader }} </p>
                    <p>·</p>
                    <p> {{ post.date_created|get_posted_at_display }}</p>
                </div>
                <div>
                    <p>{{ post.content }}</p>
                </div>
                <img class="max-h-96 mt-2 border rounded-lg"src="{{ post.image.url }}">
            </div>
        </div>        
    </a>
</div>