<title>{% block title %}Se connecter à X / X{% endblock %}</title>
{% load static tailwind_tags %}
{% tailwind_css %}
{% load static %}

{% block content %}
    <div class="flex justify-center items-center bg-neutral-400 h-screen">
		<form action="" method="post" class="flex flex-col h-4/6 items-center pb-10 px-28 pt-2 bg-white rounded-2xl">
            {% csrf_token %}
            <img src="{% static 'x-logo.png' %}" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
			<h2 class="text-3xl font-bold mt-6 mb-10">Connectez-vous à X</h2><br>
			<div class="mb-6 w-full">
				<input type="text" name="username" value="{{ last_username }}" placeholder="Nom d'utilisateur" autocomplete="username" required autofocus class=" border border-gray-500  text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full h-12 p-2.5">
			</div>
			<div class="mb-6 w-full">
				<input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder="Mot de passe" class=" border border-gray-500 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full h-12 p-2.5" required>
			</div>
            {% if form.errors %}
                <div class="text-red-500 w-96">
                    {{ form.errors }}
                </div>
            {% endif %}
			<button type="submit" class="transition mt-10 w-72 text-white bg-gray-950 hover:bg-gray-900 font-bold rounded-full text-base px-5 py-2 text-center">Se Connecter</button>

			<p class="text-zinc-500  text-base mt-10">Vous n'avez pas de compte ?
				<a href="{% url 'signup' %}" class="text-sky-500">Inscrivez-vous</a>
			</p>
			<br>
		</form>
    </div>
{% endblock content %}