{% extends 'base.html' %}
{% load static %}
{% load post_extras %}
{% block content %}
    <div class="p-4 flex items-center space-x-6">
        <button type="button" onClick="javascript:history.go(-1);">
            <svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-z80fyv r-19wmn03" style="color: rgb(15, 20, 25);"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg>
        </button>

        <h1 class="font-bold text-lg">Poster</h1>
    </div>
    <div class="flex items-start space-x-4 p-4">
        <div>
            <img class="rounded-lg w-12" src="{% static 'Default_pfp.png' %}">
        </div>
        <div>
            <div class="flex items-center space-x-1">
                <p class="font-bold text-sm">{{ post.uploader }} </p>
                <p>·</p>
                {% comment %} <p> {{ post.date_created|get_posted_at_display }}</p> {% endcomment %}
            </div>
            <div>
                <p>{{ user.username }}</p>
            </div>
            <img class="max-h-96 mt-2 border rounded-lg"src="{{ post.image.url }}">
        </div>
    </div>    
{% endblock content %}