{% load static tailwind_tags %}
{% load static %}

<html>
    <head>
        {% tailwind_css %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
         <div class="flex flex-row">
            <aside class="basis-4/12 h-screen flex justify-end border-x">
               <div class="fixed h-full w-64 mr-10 py-4 overflow-y-auto">
                  <a href="#" class="flex items-center ps-2.5 mb-5">
                     <img src="{% static 'x-logo.png' %}" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
                  </a>
                  <ul class="space-y-1 text-xl  font-normal">
                     <li>
                        <a href="{% url 'homepage' %}" class="transition flex items-center p-3 text-gray-900 rounded-full dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                           <svg viewBox="0 0 24 24" width="26" height="26" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"><g><path d="M21.591 7.146L12.52 1.157c-.316-.21-.724-.21-1.04 0l-9.071 5.99c-.26.173-.409.456-.409.757v13.183c0 .502.418.913.929.913H9.14c.51 0 .929-.41.929-.913v-7.075h3.909v7.075c0 .502.417.913.928.913h6.165c.511 0 .929-.41.929-.913V7.904c0-.301-.158-.584-.408-.758z"></path></g></svg>
                           <span class="ms-3">Accueil</span>
                        </a>
                     </li>
                     
                     <li>
                     <a href="#" class="transition flex items-center p-3 text-gray-900 rounded-full dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           <svg viewBox="0 0 24 24" width="26" height="26" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"><g><path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path></g></svg>
                           <span class="flex-1 ms-3 whitespace-nowrap">Explorer</span>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="transition flex items-center p-3 text-gray-900 rounded-full dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           <svg viewBox="0 0 24 24" width="26" height="26" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg>
                           <span class="flex-1 ms-3 whitespace-nowrap">Notifications</span>
                        </a>
                     </li>
                     <li>
                        <a href="#" class="transition flex items-center p-3 text-gray-900 rounded-full dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           <svg viewBox="0 0 24 24" width="26" height="26" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"><g><path d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z"></path></g></svg>
                           <span class="flex-1 ms-3 whitespace-nowrap">Messages</span>
                           <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'view_user' user.username %}" class="transition flex items-center p-3 text-gray-900 rounded-full dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                           <svg viewBox="0 0 24 24" width="26" height="26" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-18jsvk2 r-lwhw9o r-cnnz9e"><g><path d="M17.863 13.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44zM12 2C9.791 2 8 3.79 8 6s1.791 4 4 4 4-1.79 4-4-1.791-4-4-4z"></path></g></svg>                           <span class="flex-1 ms-3 whitespace-nowrap">Profil</span>
                        </a>
                     </li>
                     <li>
                        <button type="" class="text-white font-bold bg-sky-500 hover:bg-sky-600 rounded-full text-sm p-3 text-center w-full ">Poster</button>
                     </li>
                     {% if user.is_authenticated %}
                        <li class="absolute inset-x-0 bottom-4">
                           <button id="dropdownTopButton" data-dropdown-toggle="dropdownTop" data-dropdown-placement="top" type="" class="text-black hover:bg-slate-200 rounded-full text-sm p-2 text-center w-full ">
                              <div class="flex items-center space-x-4">
                                 <div>
                                    {% if user.profile_photo %}
                                       <img class="rounded-full max-h-10" src="{{ user.profile_photo.url }}" alt="Profile Photo">
                                    {% else %}
                                       <img class="rounded-full max-h-10" src="{% static 'Default_pfp.png' %}">
                                    {% endif %}
                                 </div>
                                 <div>
                                     <div class="flex items-center space-x-1">
                                         <p class="font-bold text-sm">{{ user }}</p>
                                     </div>
                                     <div>
                                         <p>@{{ user }}</p>
                                     </div>
                                 </div>
                             </div>  
                           </button>
                        </li>
                        <li>
                           <div id="dropdownTop" class="bg-white z-10 hidden w-full rounded-xl shadow-md">
                              <ul class=" text-sm text-gray-700" aria-labelledby="dropdownTopButton">
                                 <li class="text-center">
                                    <a href="{% url 'logout' %}" class="block py-5 font-bold pl-3 transition hover:bg-gray-100 rounded-xl">Se déconnecter de {{ user }}</a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                     {% endif %}
                  </ul>
               </div>
            </aside>
            <div class="basis-4/12">
                  {% block content %}{% endblock content %}
            </div>
            <div class="basis-4/12 border-x">
               <div class="h-screen w-7/12 m-10">
                  <div class=" bg-gray-100 p-3 rounded-2xl">
                     <h1 class="text-xl font-extrabold">Abonnez-vous à Premium</h1>
                     <p>Abonnez-vous pour profiter de nouvelles fonctionnalités et recevoir une part des revenus publicitaires si vous respectez les critères.</p>
                     <button type="button" class="mt-3 text-white bg-gray-800 hover:bg-gray-900 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2">Souscire</button>
                  </div>
            </div>
            </div>

         </div>
    </body>
</html>